* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.trigger {
    width: 200px;
    height: 200px;
    border: 20px solid #999;
    background: #ddd;
}

.box {
    display: inline-block;
    background-color: pink;
    width: 160px;
    height: 160px;
    transition: transform 300ms ease-in-out;
}

.trigger.clicked .box {
    transform: translate(200px, 150px) rotate(20deg);
}